

<body class="fundo_search">

 <br></br>
  <div class="jumbotron" >
      <h1>Pratico & Fresco</h1>
      <p>Seu supermercado online!</p>
  </div>


<div class="row">
  <div class="col-md-12">

      <div class="col-sm-6 col-md-8">
        <div class="thumbnail">
          <div class="caption">
            <h3 class="text-left">Quem somos?</h3>
                <p>Pratico&Fresco e um servico de compras online, que garante produtos de qualidade na porta de sua casa.</p>
                <p> Nosso objetivo e fazer voce realizar suas compras de casa ou do trabalho sem perder a qualidade dos produtos que voce compra no seu supermercado favorito.</p>
            <h3 class="text-left">Como funciona?</h3>
                <p> Voce paga com cartao de credito quando recebe a compra na sua casa.</p>
                <p>O que esta esperando? Entre no mundo da conveniencia e qualidade.</p>
            <h3 class="text-left">Ja cliente?</h3>
            <p> Seja bem vindo de volta! E inicie as suas compras</p>
            <h3 class="text-left"><button onclick="location.href = '/users/sign_in';" class="btn btn-warning" >Inicie suas compras</button></h3>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="http://elliekay.com/wpress/wp-content/uploads/2013/05/Blog-May-16-2013-Delivering-Groceries.jpg" alt="...">
          <div class="caption">
            <h3 class="text-center">Cliente novo?</h3>
            <p class="text-center">Junte-se ao nossos clientes e faca as compras no conforto de sua casa.</p>
            <h3 class="text-center"><button onclick="location.href = '/users/sign_up';" class="btn btn-warning" >Cadastrar</button></h3>
          </div>
        </div>
      </div>

    </div>
  </div>
